<ul id="slide-out" class="side-nav fixed">
  <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
  <li>{{#link-to "models-config"}}Model Config{{/link-to}}</li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse sidenav-collapse">
  <i class="mdi-navigation-menu"></i>
</a>
{{yield}}
