<ul id="slide-out" class="side-nav fixed">
  <li class="sidenav-logo"><a href="#!">DATAMAN</a></li>
  <li><a href="#!">Model Config</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse sidenav-collapse">
  <i class="mdi-navigation-menu"></i>
</a>
{{yield}}
